server:
  port: 8080

jwt:
  secret: my-jwt-local-secret-key-should-be-very-secure-and-long

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/test_db
    username: root
    password: selvas1122!
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 5000

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: google-client-id
            client-secret: google-secret
            scope:
              - profile
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  jackson:
    serialization:
      fail-on-empty-beans: false

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
