# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Java
*.class
*.jar
*.war
*.ear

# Maven
target/

# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# OS
.DS_Store

# Docker
**/docker-compose.override.yml